div {
    margin-bottom: 20px;
}

.gridOne {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.box1 { background-color: red; }
.box2 { background-color: blue; }
.box3 { background-color: yellow; }

.gridThree {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
}

.gridThree img {
    width: 500px;
    height: 225px;
    object-fit: cover;
}

.gridFour {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
}

#nested {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridFive {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 500px;
    background-color: rgb(241, 241, 241);
    padding: 10px;
    gap: 10px;
}

.gridFive .firstChild p {
    margin-left: 10px;
    margin-right: 10px;
}

.gridFive .images {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.gridFive .images img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 500px;
    background-color: lightgray;
}

.gridSix p {
    font-family: 'Roboto', sans-serif;
}